:root {
    --grullo: #ABA194;
    --paleSilver: #BDB6AF;
    --menuBotones: #7871AA;
    --fondo: #e5e7e8;
    --recuadro: #D8DDDE;
    --hover: rgb(133, 174, 218);
    --sombra: rgba(0,0,0,0.49);
}

/**********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
    gap: 0;
    transition: all 0.4s;
}
/****************************** COMUN ****************************************/
body {
    max-width: 100vw;
    height: 100vh;
    z-index: -1;
}
#global {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, auto);
    grid-template-areas:"menu"
                        "main"
                        "foot";
}
body * {
    overflow-x: hidden;
}
#main {
    grid-area: main;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    place-items: center; */
    background: var(--fondo) fixed;
}
.recuadro {
    margin: 2% 5%;
    padding: 3%;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 10px var(--sombra);
    background-color: var(--recuadro);
}
/* formularios */
.formulario{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "izq der";
    justify-content: space-around;
}
.formulario .izq {
    grid-area: izq;
}
.formulario .der {
    grid-area: der;
}
.formulario .end {
    align-self: end;
}
.formulario label {
    display: inline-block;
    min-width: 90px;
}
.formulario .inputs {
    border: 1px solid white;
    border-radius: 5px;
}
.formulario input[type='file'] {
    width: 80%;
    cursor: pointer;
    background-color: var(--grullo);
    color: white;
}
.formulario input[type='submit'], input[type='button'], input[type='reset']{
    background-color: var(--menuBotones);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#formulario input[type='password'] {
    width: 80%;
    cursor: pointer;
    background-color: var(--menuBotones);
    padding: 1px;
    border: 1px solid #ffffff;
    border-radius: 5px;

}
.formulario .perfil {
    width: 140px;
}
/****************************** HEADER ****************************************/

#menu a {
    text-decoration: none;
    color: var(--fondo);
}
a:visited {
    color: var(--fondo);
}
#menu {
    grid-area: menu;
    background-color: var(--menuBotones);
    display: none;
    height: min-content;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 5;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
#logo-menu {
    display: flex;
    height: 40px;
    margin: 10px 20px;
}

#menu span{
   color:white;
   font-size: 2rem;
   padding-top:3px;
   margin-left: 10px;
}
#menu-principal {
    display: flex;
    align-items: center;
    width: 55%;
    margin: 0px 10px;
    max-width: 450px;
    min-width: 250px;
    justify-content: space-between;
}
#menu-principal li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}
#menu-principal li a {
    padding: 10px 20px;
}
#menu-principal li:hover {
    background-color: var(--hover);
    flex-grow: 3;
    cursor: pointer;
}
#menu-principal li a {
    font-size: 2vmax;
}
#menu-h{
    position: sticky;
    top: 0px;
    grid-area: menu;
    width: 100%;
    height: min-content;
    background-color: var(--menuBotones);
    color: var(--fondo);
    z-index: 5;
}
#menu-h span {
    font-size: 2.5rem;
    padding: 5px 10px;
    background-color: var(--menuBotones);
    color: var(--fondo);
}
#menu-h-principal {
    display: none;
    position: absolute;
    width: 100vw;
    height:0px;
    transition: 1s ease;
    background-color: var(--menuBotones);
    color: var(--fondo);
    z-index: 5;
}
#menu-h-principal:target {
    display:flex;
    height: min-content;
    top: 45px;
}
#menu-h-principal li {
    padding: 10px 30px;
    font-size: 1.5rem;
}
#menu-h-principal a,
#menu-h-principal a:visited {
    text-decoration: none;
    color: var(--fondo);
}
/****************************** FOOTER ****************************************/
footer {
    grid-area: foot;
    background-color: var(--menuBotones);
    color: var(--fondo);
    grid-column: 1/13;
    grid-row: 10/11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"servicios"
                        "redes"
                        "direccion"
                        "mapa";
    gap: 10px;
    height: min-content;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
    place-items: center;
    z-index: 1;
    box-shadow: -10px -5px 10px rgba(0, 0, 0, 0.5);
}
#redessociales{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer #direccion {
    grid-area: direccion;
}
footer #servicios {
    grid-area: servicios;
    display: flex;
    flex-direction: column;
}
#servicios a {
    text-decoration: none;
    background-color: var(--menuBotones);
    color: var(--claro);
}
#servicios a:visited {
    background-color: var(--menuBotones);
    color: var(--fondo);
}
footer #mapa {
    grid-area: mapa;
}
#servicios h3 {
    text-align: center;
    padding: 10px;
}
#servicios .enlace,
#direccion .enlace {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px var(--hover) solid;
    margin: 3px;
}
#servicios a,
#direccion a {
    padding: 3px 20px;
}
#servicios .enlace:hover,
#direccion .enlace:hover {
    color: var(--claro);
    background-color: var(--hover);
    cursor: pointer;
}

/******************************** LOGIN *************************************/

#inicioSesion{
	width: 350px;
	height: 500px;
	overflow: hidden;
	background: var(--paleSilver);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    /* align-self: center; */
    margin: auto auto;
}
#inicioSesion #chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
#inicioSesion label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px auto 10px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
#inicioSesion input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
#inicioSesion button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--menuBotones);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.login button:hover{
	background: var(--grullo);
}
.registro{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-20%);
	transition: .8s ease-in-out;
}
.registro label{
	color: var(--paleSilver);
	transform: scale(.6);
	margin: 50px;
}
#chk:checked ~ .registro{
	transform: translateY(-90%);
}
#chk:checked ~ .registro label{
	transform: scale(1);
    padding-top: 20px;	
}
#chk:checked ~ .login label{
	transform: scale(.6);
}
/****************************** VISUALIZACION PREGUNTAS ****************************************/

.visualizacion {
    width: 100vw;
}
.lupa {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background: var(--menuBotones);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.dep {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background: var(--menuBotones);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.order {
    padding: 1.5%;
    padding-left: 0.5%;
    padding-right: 3%;
    background: var(--menuBotones);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.buscar {
    padding: 1.5%;
    background-color: var(--menuBotones);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.buscar::placeholder {
    color: white;
}
.titulousuario {
    color: black;
}
.pregunta, .respuesta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "user info atributos";
}
.respuesta{
    grid-template-columns: 20% 30% 50%;
    grid-template-areas:
     "votos user info";
}
.user {
    grid-area: user;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grullo);
}
.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.atributos {
    grid-area: atributos;
}
.perfil {
    width: 140px;
}
.stats {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-areas: 
    ". . ."
    "res res res";
    gap: 15%;
}
.iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res {
    margin-left: 10px;
    grid-area: res;
    padding: 5% 10%;
    background: var(--menuBotones);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    justify-self: center;
}
.nums {
    color: white;
    margin-top: 5%;
    padding-bottom: 10%;
    font-size:1.2em;
    overflow: hidden;
}
.botones {
    overflow: hidden;
    font-size: 2.5rem;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 25%;
    padding-right: 25%;
    background: var(--grullo);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

/* Estilo valoraciones */
  
.clasificacion input[type="radio"] {
    display: none;
}
.clasificacion label {
    color: white;
    font-size: 1.875rem;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
.clasificacion label:hover,
.clasificacion label:hover ~ label {
    color: orange;
    cursor: pointer;
} 
.clasificacion input[type="radio"]:checked ~ label {
    color: orange;
}

/****************************** DETALLE PREGUNTA ****************************************/

.detalles {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-areas:
    "votos user info";
}
.detalles i {
    font-size: 70px;
}
.respuestas i {
    font-size: 70px;
}
.like,.like:link,.like:visited {
    text-decoration: none;
    color: var(--menuBotones);
}
.like:hover {
    color: var(--hover);
}
.votacion {
    grid-area: votos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.votacion .votos {
    color: var(--menuBotones);
    margin: 5%;
}
.detalles .info {
    align-items: flex-start;
}
.descripcion {
    margin: 4% 0%;
    max-width: 700px;
}

/****************************** PERFIL ****************************************/

/*Formulario cambio de contraseña*/
#cambiarPASS {
    display: none;
    margin: 2% 0%;
    padding: 2%;
}
#cambiarPASS.shown {
    display:block;
    border: 1px solid rgb(16, 15, 15);
    border-radius: 5px;
}

/****************************** MEDIA ****************************************/

@media only screen and (min-width: 1920px) {
    #menu-principal li a {
        font-size: 1.1rem;
    }
   footer {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "servicios redes mapa"
            "servicios direccion mapa";
    }
    #menu-h,
    #menu-h-principal {
        display: none;
    }
    #menu {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1920px) {
    #menu-principal li a {
        font-size: 1.1rem;
    }
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 55px auto;
        grid-template-areas:
            "servicios rrss mapa"
            "servicios direccion mapa";
        justify-content: center;
        align-items: flex-start;
    }
    #menu-h,
    #menu-h-principal{
        display: none;
    }
    #menu {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    footer #mapa {
        max-width: 200px;
    }
    #menu-h,
    #menu-h-principal {
        display: none;
    }
    #menu {
        display: flex;
    }
}
@media only screen and (min-width: 361px) and (max-width: 768px) {
    footer{
        display: flex;
        flex-direction: column;
    }

    #titulo {
        font-size: 8vw;
    }
    #menu-h,
    #menu-h-principal {
        display: flex;
    }
    #menu {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    #menu-h,
    #menu-h-principal{
        display: flex;
    }
    #menu {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .pregunta, .respuesta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stats {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-areas: 
        ". . ."
        "res res res";
        gap: 12%;
    }
    .iconos {
        margin-top: 15%;
    }
    .res {
        grid-area: res;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 18%;
        padding-right: 18%;
        background: var(--menuBotones);
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    .nums {
        color: white;
        font-size:0.9em;

    }
    .botones {
        font-size: 20px;
        padding: 10%;
        padding-left: 25%;
        padding-right: 25%;
        background: var(--grullo);
        border: 1px solid white;
        border-radius: 5px;
        color: white;
    }
    .formulario .der {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .formulario input[type='submit'] {
        margin-bottom: 15px;
    }
    .formulario input[type='button'], input[type='file'] {
        margin-top: -20px;
    }
    .detalles {
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "votos user"
        "info info";
        /* flex-direction: column;
        justify-content: center; */
    }
}