* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: #BDB6AF;
}

.lupa {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background: #7871AA;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.dep {
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    background: #7871AA;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.order {
    padding: 1.5%;
    padding-left: 0.5%;
    padding-right: 3%;
    background: #7871AA;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.buscar {
    padding: 1.5%;
    background-color: #7871AA;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.buscar::placeholder {
    color: white;
}

.datos>*{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 3%;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.49);
}

.preguntas{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 3%;
    border: 1px solid gray;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.49);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "user info atributos";
}

.user {
    grid-area: user;
    display: flex;
    flex-direction: column;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.atributos {
    grid-area: atributos;
}

.perfil {
    width: 140px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-areas: 
    ". . ."
    "res res res";
    gap: 23%;
}

.iconos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.res {
    margin-left: -10px;
    grid-area: res;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 36%;
    padding-right: 36%;
    background: #7871AA;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.nums {
    color: white;
    font-size:1.2em;
}

.botones {
    margin-left: -10px;
    font-size: 40px;
    padding: 20%;
    padding-left: 25%;
    padding-right: 25%;
    background: #ABA194;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

/* Estilo valoraciones */
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}
  
#form p {
    text-align: center;
}
  
#form label {
    font-size: 20px;
}
  
input[type="radio"] {
    display: none;
}
  
label {
    color: grey;
    font-size: 30px;
}
  
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
  
label:hover,
label:hover ~ label {
    color: orange;
    cursor: pointer;
}
  
input[type="radio"]:checked ~ label {
    color: orange;
}

@media screen and (max-width: 760px) {
    .preguntas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-areas: 
        ". . ."
        "res res res";
        gap: 12%;
    }

    .iconos {
        margin-top: 15%;
    }
    
    .res {
        grid-area: res;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 18%;
        padding-right: 18%;
        background: #7871AA;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    
    .nums {
        color: white;
        font-size:0.9em;

    }
    
    .botones {
        font-size: 20px;
        padding: 10%;
        padding-left: 25%;
        padding-right: 25%;
        background: #ABA194;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
    }


}